<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

	<context:annotation-config/>

	<bean class="com.revature.config.AppConfig" />

	<!-- <bean class="org.springframework.config.java.process.ConfigurationPostProcessor"/> -->

	<import resource="classpath:META-INF/cxf/cxf.xml" />

	<jaxws:endpoint id="categoryService"
		implementor="com.revature.ws.CategoryServiceImpl" address="/category"></jaxws:endpoint>

</beans>