<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="welcomeMenu" class="com.revature.ui.WelcomeMenu">
		<property name="loginMenu" ref="loginMenu"></property>
	</bean>
	
	<bean id="loginMenu" class="com.revature.ui.LoginMenu">
		<property name="authService" ref="authService"></property>
	</bean>
	
	<bean id="authService" class="com.revature.service.AuthServiceImpl" scope="singleton">
		<property name="userDao" ref="userDaoPostgres"></property>
	</bean>
	
	<bean id="userDaoPostgres" class="com.revature.dao.UserDaoPostgres" scope="singleton"> <!-- Other scopes: prototype, session, request, globalSession -->
	
	</bean>
	
</beans>